# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data science tools| Python|R|Julia|
---------------------------------------------------

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
x=3
y=4
z=5
Results =(x*y)+z
print(Results)

17

In [7]:
Minutes=input(" Enter the Minutes:")
Minutes=int(Minutes)
Hours=Minutes/60
print(" Converted hours are ", Hours)

 Enter the Minutes:200
 Converted hours are  3.3333333333333335

Rahul Patil
1. Graduate 
2. Age 30
3. Working